/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

@import "partials/base";



body {
	background-color: $body-color;
	font-size: $base-font-size;
}

h1 {

	color: $hcolor;
	font: bold 2em arial, sans-serif;
	text-decoration: underline;

	&:hover {

	color: $hhovercolor;

	}

}

h2 {
	font: 1.5em arial, sans-serif;
}

p {
	text-align: center;

		&:hover {
			color: $pcolor;
		}
}

.container {
	background: $card-background;
	height: 100%;

}

.card {
	background: $card-color;
	margin-top: 20px;
	padding: 20px;
	border-color: $outline-color;

}

.morecontent span {
  display: none;

}

.morelink {
  display: block;
}

.owl-prev {
	display: inline;
	padding-right: 4px;
}

.owl-next {
	display: inline;
}

@media screen and (max-width: 768px) {
	h1 {

		font-size: 1.5em;
	}
	h2 {
		font-size: 1.2em;
	}

}