/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 21, ../sass/print.scss */
body {
  background-color: #fafafa;
}

/* line 25, ../sass/print.scss */
h1 {
  color: green;
  text-align: center;
  font: bold 15px arial, sans-serif;
  text-decoration: underline;
}
/* line 32, ../sass/print.scss */
h1:hover {
  color: blue;
}

/* line 40, ../sass/print.scss */
p {
  text-align: center;
}
/* line 43, ../sass/print.scss */
p:hover {
  color: gray;
}

/* line 48, ../sass/print.scss */
.container {
  background: #f1f1f1;
  height: 100%;
}

/* line 54, ../sass/print.scss */
.card {
  background: #fff;
  margin-top: 20px;
  padding: 20px;
  border-color: #cccccc;
}
