/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/print.scss */
body {
  background-color: #fafafa;
  font-size: 16px;
}

/* line 14, ../sass/print.scss */
h1 {
  color: blue;
  font: bold 2em arial, sans-serif;
  text-decoration: underline;
}
/* line 20, ../sass/print.scss */
h1:hover {
  color: green;
}

/* line 28, ../sass/print.scss */
h2 {
  font: 1.5em arial, sans-serif;
}

/* line 32, ../sass/print.scss */
p {
  text-align: center;
}
/* line 35, ../sass/print.scss */
p:hover {
  color: gray;
}

/* line 40, ../sass/print.scss */
.container {
  background: #f1f1f1;
  height: 100%;
}

/* line 46, ../sass/print.scss */
.card {
  background: #fff;
  margin-top: 20px;
  padding: 20px;
  border-color: #cccccc;
}

/* line 54, ../sass/print.scss */
.morecontent span {
  display: none;
}

/* line 59, ../sass/print.scss */
.morelink {
  display: block;
}

/* line 63, ../sass/print.scss */
.owl-prev {
  display: inline;
  padding-right: 4px;
}

/* line 68, ../sass/print.scss */
.owl-next {
  display: inline;
}

@media screen and (max-width: 768px) {
  /* line 73, ../sass/print.scss */
  h1 {
    font-size: 1.5em;
  }

  /* line 77, ../sass/print.scss */
  h2 {
    font-size: 1.2em;
  }
}
