/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/print.scss */
body {
  background-color: #fafafa;
}

/* line 13, ../sass/print.scss */
h1 {
  color: green;
  font: bold 15px arial, sans-serif;
  text-decoration: underline;
}
/* line 19, ../sass/print.scss */
h1:hover {
  color: blue;
}

/* line 27, ../sass/print.scss */
p {
  text-align: center;
}
/* line 30, ../sass/print.scss */
p:hover {
  color: gray;
}

/* line 35, ../sass/print.scss */
.container {
  background: #f1f1f1;
  height: 100%;
}

/* line 41, ../sass/print.scss */
.card {
  background: #fff;
  margin-top: 20px;
  padding: 20px;
  border-color: #cccccc;
}

/* line 49, ../sass/print.scss */
.morecontent span {
  display: none;
}

/* line 54, ../sass/print.scss */
.morelink {
  display: block;
}

/* line 58, ../sass/print.scss */
.owl-prev {
  display: inline;
  padding-right: 4px;
}

/* line 63, ../sass/print.scss */
.owl-next {
  display: inline;
}
